http_interactions:
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/name
    body:
      encoding: ''
      string: '{"name":"triclosan","orderBy":"recordId","orderDirection":"ascending"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"e33dab8e-80a3-4c8e-8d02-a3739ee6bd32"}'
  recorded_at: 2021-02-20 19:46:34 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/smiles
    body:
      encoding: ''
      string: '{"smiles":"CC1=CC(=C(C=C1)O)C"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"4834cdf2-fee4-4e79-9291-54c79c5edae8"}'
  recorded_at: 2021-02-20 19:46:34 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.rsc.org/compounds/v1/filter/4834cdf2-fee4-4e79-9291-54c79c5edae8/status
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"count":1,"message":"","status":"Complete"}'
  recorded_at: 2021-02-20 19:46:34 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.rsc.org/compounds/v1/filter/4834cdf2-fee4-4e79-9291-54c79c5edae8/results
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[13839123],"limitedToMaxAllowed":false}'
  recorded_at: 2021-02-20 19:46:34 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/records/batch
    body:
      encoding: ''
      string: '{"recordIds":[13839123,14165,2169,236,21157],"fields":["InChIKey"]}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"records":[{"id":236,"inchiKey":"UHOVQNZJYSORNB-UHFFFAOYAH"},{"id":2169,"inchiKey":"MXWJVTOOROXGIU-UHFFFAOYAJ"},{"id":14165,"inchiKey":"RHPUJHQBPORFGV-UHFFFAOYAB"},{"id":21157,"inchiKey":"DFWFIQKMSFGDCQ-UHFFFAOYAI"},{"id":13839123,"inchiKey":"KUFFULVDNCHOFZ-UHFFFAOYAC"}]}'
  recorded_at: 2021-02-20 19:46:34 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
