http_interactions:
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/name
    body:
      encoding: ''
      string: '{"name":"triclosan","orderBy":"recordId","orderDirection":"ascending"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"6bac7c31-4108-4ba3-a1fd-008fe3aa214f"}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/records/batch
    body:
      encoding: ''
      string: '{"recordIds":[171],"fields":["InChI"]}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"records":[{"id":171,"inchi":"InChI=1/C2H4O2/c1-2(3)4/h1H3,(H,3,4)"}]}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/inchi
    body:
      encoding: ''
      string: '{"inchi":"InChI=1/C2H4O2/c1-2(3)4/h1H3,(H,3,4)"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"45decd42-48b7-4c05-8ab9-032a6fa6e64b"}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.rsc.org/compounds/v1/filter/45decd42-48b7-4c05-8ab9-032a6fa6e64b/status
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"count":1,"message":"","status":"Complete"}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.rsc.org/compounds/v1/filter/45decd42-48b7-4c05-8ab9-032a6fa6e64b/results
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[171],"limitedToMaxAllowed":false}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/inchikey
    body:
      encoding: ''
      string: '{"inchikey":"QTBSBXVTEAMEQO-UHFFFAOYAR"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"993ef8a9-b229-4848-b324-cd6b43dd0b4f"}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/records/batch
    body:
      encoding: ''
      string: '{"recordIds":[171],"fields":["SMILES"]}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"records":[{"id":171,"smiles":"CC(=O)O"}]}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/smiles
    body:
      encoding: ''
      string: '{"smiles":"CC(=O)O"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"ee435384-f72e-4d25-94f7-1349d8f929bf"}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/records/batch
    body:
      encoding: ''
      string: '{"recordIds":[171],"fields":["Mol2D"]}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"records":[{"id":171,"mol2D":"\n  ACD/Labs04281710402D\n\n  4  3  0  0  0  0  0  0  0  0  1
        V2000\n    1.1482    0.0000    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0\n    0.0000   -1.9973    0.0000
        O   0  0  0  0  0  0  0  0  0  0  0  0\n    1.1482   -1.3300    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    2.3010   -1.9973    0.0000
        C   0  0  0  0  0  0  0  0  0  0  0  0\n  1  3  2  0  0  0  0\n  2  3  1  0  0  0  0\n  3  4  1  0  0  0  0\nM  END\n"}]}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/tools/convert
    body:
      encoding: ''
      string: '{"input":"InChI=1S/C2H4O2/c1-2(3)4/h1H3,(H,3,4)","inputFormat":"inchi","outputFormat":"inchikey"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"output":"QTBSBXVTEAMEQO-UHFFFAOYSA-N"}'
  recorded_at: 2021-02-20 20:09:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
