http_interactions:
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/records/batch
    body:
      encoding: ''
      string: '{"recordIds":[171],"fields":["SMILES","Formula","InChI","InChIKey","StdInChI","StdInChIKey","AverageMass","MolecularWeight","MonoisotopicMass","NominalMass","CommonName","ReferenceCount","DataSourceCount","PubMedCount","RSCCount","Mol2D","Mol3D"]}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"records":[{"id":171,"smiles":"CC(=O)O","formula":"C_{2}H_{4}O_{2}","averageMass":60.052,"molecularWeight":60.052,"monoisotopicMass":60.02113,"nominalMass":60,"commonName":"Acetic
        acid","referenceCount":19684,"dataSourceCount":165,"pubMedCount":25018,"rscCount":50798,"mol2D":"\n  ACD/Labs04281710402D\n\n  4  3  0  0  0  0  0  0  0  0  1
        V2000\n    1.1482    0.0000    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0\n    0.0000   -1.9973    0.0000
        O   0  0  0  0  0  0  0  0  0  0  0  0\n    1.1482   -1.3300    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    2.3010   -1.9973    0.0000
        C   0  0  0  0  0  0  0  0  0  0  0  0\n  1  3  2  0  0  0  0\n  2  3  1  0  0  0  0\n  3  4  1  0  0  0  0\nM  END\n","mol3D":"176\n  Marvin  12300703363D          \n\n  8  7  0  0  0  0            999
        V2000\n    1.3733    0.7283   -0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0\n   -0.4454    1.7645   -0.0000
        O   0  0  0  0  0  0  0  0  0  0  0  0\n   -0.5806   -0.5463    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    0.1495    0.6974   -0.0000
        C   0  0  0  0  0  0  0  0  0  0  0  0\n   -1.2111   -0.6068    0.8883 H   0  0  0  0  0  0  0  0  0  0  0  0\n   -1.2111   -0.6068   -0.8883
        H   0  0  0  0  0  0  0  0  0  0  0  0\n    0.0879   -1.4100    0.0000 H   0  0  0  0  0  0  0  0  0  0  0  0\n    1.8376   -0.0203   -0.0000
        H   0  0  0  0  0  0  0  0  0  0  0  0\n  1  4  1  0  0  0  0\n  1  8  1  0  0  0  0\n  2  4  2  0  0  0  0\n  3  4  1  0  0  0  0\n  3  5  1  0  0  0  0\n  3  6  1  0  0  0  0\n  3  7  1  0  0  0  0\nM  END\n$$$$\n","inchi":"InChI=1/C2H4O2/c1-2(3)4/h1H3,(H,3,4)","inchiKey":"QTBSBXVTEAMEQO-UHFFFAOYAR","stdinchi":"InChI=1S/C2H4O2/c1-2(3)4/h1H3,(H,3,4)","stdinchiKey":"QTBSBXVTEAMEQO-UHFFFAOYSA-N"}]}'
  recorded_at: 2021-02-20 20:09:51 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
