http_interactions:
- request:
    method: get
    uri: http://cts.fiehnlab.ucdavis.edu/service/compound/XEFQLINVKFYRCS-UHFFFAOYSA-N
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: "{\n  \"inchikey\": \"XEFQLINVKFYRCS-UHFFFAOYSA-N\",\n  \"inchicode\":
        \"InChI=1S/C12H7Cl3O2/c13-7-1-3-11(9(15)5-7)17-12-4-2-8(14)6-10(12)16/h1-6,16H\",\n
        \ \"molweight\": 289.54204,\n  \"exactmass\": 287.95116,\n  \"formula\": \"C12H7Cl3O2\",\n
        \ \"dataSourcesCount\": 120,\n  \"referencesCount\": 854,\n  \"pubmedHits\":
        1547,\n  \"smiles\": \"\",\n  \"synonyms\": \n  [\n    {\n      \"type\":
        \"Synonym\",\n      \"name\": \"Triclosan\",\n      \"score\": 0\n    },\n
        \   {\n      \"type\": \"Synonym\",\n      \"name\": \"DNDI1246774\",\n      \"score\":
        0\n    },\n    {\n      \"type\": \"IUPAC Name (Allowed)\",\n      \"name\":
        \"5-chloro-2-(2,4-dichlorophenoxy)phenol\",\n      \"score\": 0\n    },\n
        \   {\n      \"type\": \"IUPAC Name (Preferred)\",\n      \"name\": \"Triclosan\",\n
        \     \"score\": 0\n    },\n    {\n      \"type\": \"Synonym\",\n      \"name\":
        \"triclosan\",\n      \"score\": 0[...]
- request:
    method: get
    uri: http://cts.fiehnlab.ucdavis.edu/service/conversion/toValues
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: |2-

        [
          "BioCyc",
          "CAS",
          "ChEBI",
      [...]
[...]
- request:
    method: get
    uri: http://cts.fiehnlab.ucdavis.edu/service/conversion/fromValues
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: |2-

        [
          "BioCyc",
          "CAS",
          "ChEBI",
    [...]
