http_interactions:
- request:
    method: get
    uri: http://www.flavornet.org/info/121-33-5.html
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      last-modified: Tue, 19 Nov 2019 10:51:28 GMT
      content-type: text/html
    body:
      encoding: ''
      file: no
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"\n
        \       \"http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd\">\n<!--
        script generated page. do not edit! --> \n<html>\n<head>\n\t<title>vanillin
        \ 121-33-5</title> \n<script src=\"jmol/../jmol/Jmol.js\"></script>\n<style
        type=\"text/css\"> \n<!-- \nbody { \n\tbackground-color:#fff;\n\tmargin-top:-5px;\n\tmargin-right:20px;\n\tmargin-left:20px;
        \n\tfont-family:Helvetica,Arial,sans-serif; \n\tfont-size:11px;\n\tline-height:14px;
        \n\tcolor:#222 } \ntable { border-collapse:collapse; border-spacing:0px }\ntd
        { width:50px; text-align:center; line-height:16px; background-color:#eee }\n.t
        { width:110px; text-align:left }\n.no { background-color:#fff }\n.title {\n\tbackground-color:#dfe;\n\tcolor:#333;\n\tpadding:15px;\n\tmargin-left:-11px;\n\tmargin-right:-11px;\n\tmargin-bottom:20px;\n\tfont-size:15px;
        \n\tline-height:18px; \n\tfont-weight:bold } \n.title2 { font-size:12px; line-height:18px
        }\n.cas { font-size:12px; margin-top:20px } \n.mw { font-size:12px;  margin-top:20px}
        \n.ref { \n\tmargin-top:-5px;\n\tmargin-left:10px;text-indent:-10px } \n.credit
        { font-size:9px; line-height:12px } \nb { font-weight:bold }\na:link {color:#000;
        text-decoration:none}\na:visited {color:#000; text-decoration:none}\na:hover
        {color:#ff9; text-decoration:none}\na:active {color:#ff9; text-decoration:none}\na:focus
        {color:#000; text-decoration:none}\t\n //--> \n</style> \n</head><body>\n<p
        class=title>vanillin<br>\n<span class=title2>4-hydroxy-3-methoxybenzaldehyde</span></p>\n<img
        src=\"../gif/121-33-5.gif\" alt=\"121-33-5\"> \n<!--<p class=cas>CAS 121-33-5</p>>-->\n<p
        class=cas><span style=font-weight:bold>CAS 121-33-5</span>&nbsp;-&nbsp;MW
        152.0</p>\n<!--JMOL entry-->\n<form>\n     <script>\n      jmolInitialize(\"jmol/../jmol\");
        \n      jmolSetAppletColor(\"white\"); \n      jmolApplet(300, \"load jmol/pdb/121-33-5.pdb\");\n
        \     \"spacefill 0%\";\n      jmolBr();\n      // a checkbox\n      jmolCheckbox(\"dots
        on\", \"dots off\", \"Van der Waals surface\");\n      jmolBr();\n      jmolCheckbox(\"spacefill
        90%\", \"spacefill 0%\", \"Fill space 80%\");\n      jmolBr();\n      jmolCheckbox(\"spin
        on\", \"spin off\", \"Spin\");\n      jmolBr();\n     </script>\n </form>
        <!--JMOL end-->\n<table>\n<tr><td class=t></td><td>OV101</td><td>DB5</td><td>OV1701</td><td>C20M</td></tr>\n<tr><td
        class=t>Kovats RI</td><td>1345</td><td>1410</td><td>1635</td><td>2569</td></tr><tr><td
        class=t>Ethyl ester RI</td><td>965</td><td>1011</td><td>1170</td><td>1901</td></tr><tr><td
        class=no><br></td><td class=no colspan=4>&nbsp;</td></tr>\n</table>\n<p>Percepts:
        vanilla</p>\n<!--<p class=mw>MW $$mw$$</p>-->\n<p>Notes:  Ferreira2001-DBWax=
        2585Aznar(2001)DBWax= 2581Ong1999-HPWax=[...]
[...]
- request:
    method: get
    uri: http://www.flavornet.org/info/50-00-0.html
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/html; charset=iso-8859-1
    body:
      encoding: ''
      file: no
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL was not found on this server.</p>
        <p>Additionally, a 404 Not Found
        error was encountered while trying to use an ErrorDocument to handle the request.</p>
        </body></html>
  recorded_at: 2023-08-04 17:36:30 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
