http_interactions:
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/name
    body:
      encoding: ''
      string: '{"name":"triclosan","orderBy":"recordId","orderDirection":"ascending"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"d04ca49f-0673-40f0-9293-c6b1f486bb29"}'
  recorded_at: 2021-02-20 19:48:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: get
    uri: https://api.rsc.org/compounds/v1/filter/88b86a34-22ed-4f67-8c70-cb5e1de25049/status
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"count":1,"message":"","status":"Complete"}'
  recorded_at: 2021-02-20 19:48:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.rsc.org/compounds/v1/filter/88b86a34-22ed-4f67-8c70-cb5e1de25049/results
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[5363],"limitedToMaxAllowed":false}'
  recorded_at: 2021-02-20 19:48:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/formula
    body:
      encoding: ''
      string: '{"formula":"C6H12O6","dataSources":[],"orderBy":"referenceCount","orderDirection":"descending"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"a1a65bfb-c117-469f-bfb7-7562e11a622a"}'
  recorded_at: 2021-02-20 19:48:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/smiles
    body:
      encoding: ''
      string: '{"smiles":"C#C"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"e2f1a736-e316-443d-a558-877cecaf2eaf"}'
  recorded_at: 2021-02-20 19:48:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/inchi
    body:
      encoding: ''
      string: '{"inchi":"InChI=1S/C2H4O2/c1-2(3)4/h1H3,(H,3,4)"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"da6701f9-8ca8-4c8a-aa71-3f08d6341753"}'
  recorded_at: 2021-02-20 19:48:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/inchikey
    body:
      encoding: ''
      string: '{"inchikey":"QTBSBXVTEAMEQO-UHFFFAOYSA-N"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"6fed99f7-31b6-4602-90c5-26c024c45d66"}'
  recorded_at: 2021-02-20 19:48:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
