http_interactions:
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/name
    body:
      encoding: ''
      string: '{"name":"triclosan","orderBy":"recordId","orderDirection":"ascending"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-amzn-requestid: ecdd06c9-3b75-415d-b634-a5886580e2df
      x-amz-apigw-id: DKUAuGcNLPEEa9A=
    body:
      encoding: ''
      file: no
      string: '{"queryId":"7ea79f76-b7c0-43af-bf6f-8e0f5a003bef"}'
  recorded_at: 2024-12-21 21:31:14 GMT
  recorded_with: vcr/1.6.0.91, webmockr/2.0.0
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/tools/validate/inchikey
    body:
      encoding: ''
      string: '{"inchikey":"BQJCRHHNABKAKU-KBQPJGBKSA-5"}'
    headers:
      Content-Type: application/json
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/problem+json; charset=utf-8
      x-amzn-requestid: fac3519a-b35f-4cc7-93ec-91c96a7bf535
      x-amz-apigw-id: DKUAyGVerPEEfDA=
    body:
      encoding: ''
      file: no
      string: '{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One
        or more validation errors occurred.","status":400,"errors":{"InchiKey":["Invalid
        InChIKey format"]},"traceId":"00-87ee51520649bbb0a242091d6fd8f000-0f4830f37364a214-00"}'
  recorded_at: 2024-12-21 21:31:14 GMT
  recorded_with: vcr/1.6.0.91, webmockr/2.0.0
[...]
