http_interactions:
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/name
    body:
      encoding: ''
      string: '{"name":"triclosan","orderBy":"recordId","orderDirection":"ascending"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-amzn-requestid: 4171dd05-f6d3-47cf-9844-3adde68028a7
      x-amz-apigw-id: DKUCYGV4LPEEfVQ=
    body:
      encoding: ''
      file: no
      string: '{"queryId":"6273e02a-bc45-432d-b803-59b103c7a738"}'
  recorded_at: 2024-12-21 21:31:21 GMT
  recorded_with: vcr/1.6.0.91, webmockr/2.0.0
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/tools/validate/inchikey
    body:
      encoding: ''
      string: '{"inchikey":"BQJCRHHNABKAKU-KBQPJGBKSA-N"}'
    headers:
      Content-Type: application/json
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-amzn-requestid: 4fd54ac0-6be5-426f-b956-0500535f73b7
      x-amz-apigw-id: DKUCeGc5LPEEfSA=
    body:
      encoding: ''
      file: no
      string: '{"valid":true}'
  recorded_at: 2024-12-21 21:31:21 GMT
  recorded_with: vcr/1.6.0.91, webmockr/2.0.0
[...]
