http_interactions:
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/records/batch
    body:
      encoding: ''
      string: '{"recordIds":[2265],"fields":["Mol3D"]}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"records":[{"id":2265,"mol3D":"2355\n  Marvin  12300703363D          \n\n
        24 26  0  0  0  0            999 V2000\n    1.9095    2.7937   -0.2938 O   0  0  0  0  0  0  0  0  0  0  0  0\n    2.0348   -2.0377   -0.2964
        O   0  0  0  0  0  0  0  0  0  0  0  0\n   -1.9595    0.3931   -0.0771 O   0  0  0  0  0  0  0  0  0  0  0  0\n    2.1997   -4.1635   -0.2351
        O   0  0  0  0  0  0  0  0  0  0  0  0\n    0.0449    1.5347   -0.2760 C   0  0  0  0  0  0  0  0  0  0  0  0\n   -0.0015   -0.8911   -0.2884
      [...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/records/batch
    body:
      encoding: ''
      string: '{"recordIds":[2265],"fields":["Mol2D"]}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"records":[{"id":2265,"mol2D":"\n  ACD/Labs03221914022D\n\n 16 18  0  0  0  0  0  0  0  0  1
        V2000\n    2.0457   -4.6536    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    3.2013   -3.9900    0.0000
        O   0  0  0  0  0  0  0  0  0  0  0  0\n    3.2013   -2.6626    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    4.3491   -1.9911    0.0000
        C   0  0  0  0  0  0  0  0  0  0  0  0\n    5.5047   -2.6626    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    6.6603   -1.9911    0.0000
        C   0  0  0 [...]
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/filter/name
    body:
      encoding: ''
      string: '{"name":"triclosan","orderBy":"recordId","orderDirection":"ascending"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"queryId":"912f0be8-d199-4757-accc-8dce541ef17c"}'
  recorded_at: 2021-03-05 08:25:20 GMT
  recorded_with: vcr/0.6.1.96, webmockr/0.7.4.95
- request:
    method: post
    uri: https://api.rsc.org/compounds/v1/tools/convert
    body:
      encoding: ''
      string: '{"input":"BGEBZHIAGXMEMV-UHFFFAOYAX","inputFormat":"inchikey","outputFormat":"mol"}'
    headers:
      Content-Type: ''
      apikey: <<my_api_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-rsc-apigee: ''
    body:
      encoding: UTF-8
      file: no
      string: '{"output":"\n  ACD/Labs03221914022D\n\n 16 18  0  0  0  0  0  0  0  0  1
        V2000\n    2.0457   -4.6536    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    3.2013   -3.9900    0.0000
        O   0  0  0  0  0  0  0  0  0  0  0  0\n    3.2013   -2.6626    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    4.3491   -1.9911    0.0000
        C   0  0  0  0  0  0  0  0  0  0  0  0\n    5.5047   -2.6626    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    6.6603   -1.9911    0.0000
        C   0  0  0 [...]
